<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <!-- The only thing you have to edit here is the first sentence. Replace the years of experience and industry type with your own info. -->
        <p>I am currently completing a Cybersecurity Certificate, where I’m building technical skills in network security, threat analysis, and incident response. My background is unique—I’m a registered behavioral therapist with hands-on experience in behavioral analysis, crisis management, and strong documentation skills.</p>
        
        <!-- This skills section already matches your resume, so no need to edit these unless you have more to add. Remember, these should be your TOP skills, not every skill! -->
        <h3>Skills & Expertise</h3>
           <p><strong>TryHackMe Journal</strong><br>
           <p><strong>Incident Handler’s Journal</strong><br>
           <p><strong>Vulnerable System Analysis</strong><br>
           <p><strong>SQL Query</strong><br>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <!-- Replace the Rick Roll below with a link to your resume. Ideally this would be a pdf version, or a 'view only' version of your resume. -->
        <a href="https://www.youtube.com/watch?v=2qBlE2-WL60" class="btn btn-lg btn-outline resume-button">
          View Resume
        
        </a>
      </div>
    </div>
  </div>
</section>
